:root {
    --board-bg-color: #e8e6e4;
    --board-pedal-color-lighter: #404040;
    --board-pedal-color-light: #303030;
    --board-pedal-color-dark: #202020;
    --board-pedal-color-darker: #101010;
    --board-led-color-off: #e61a1a;
    --board-led-color-on: #4dbf4d;
    --board-lcd-bg-color: #612b2b;
    --board-lcd-color: #f2d42c;
    --board-pedal-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100dvh;
    width: 100%;
    background-color: #eee;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='range']::-webkit-slider-thumb {
    box-shadow: none;
    -webkit-appearance: none;
    height: 300px;
    width: 2px;
    background: #fff;
    border: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    margin: 0;
}
