* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transform-origin: top left;
  /* transform: rotate(-90deg) translateX(-100vh); */
  transform: rotate(90deg) translateY(-100vw);
  height: 100vw;
  width: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 567px) {
  body {
    height: 100vh;
    width: 100vw;
    transform: none;
  }
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
  -webkit-appearance: none;
  height: 300px;
  width: 2px;
  background: #fff;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
}
